html {
    background-color: #ecddc9;
}

body {
    overflow-x: hidden;
    max-width: 1100px;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

header {
    padding: 0px 40px;
    background-color: #deb887;
    box-shadow: 0px 1px 5px 3px #685030;
}

header h2 {
    width: 33%;
    display: inline-block;
}

nav {
    width: 60%;
    text-align: right;
    display: inline-block;
}

nav a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgb(78, 70, 70);
    font-size: 1.2em;
}

a.icon {
    display: none;
    color: white;
}

section h2 {
    font-size: 2.1;
}

section {
    width: 95%;
    margin: 50px auto;
    padding: 5px 10px;
}

section.card {
    border: 1px solid #d4d4d4;
    box-shadow: 1px 1px 6px 1px rgb(151, 146, 146);
    border-radius: 30px 0px 30px 0px;
}

img.my-photo {
    width: 400px;
    border-radius: 50%;
    border: 2px solid #685030;
}

h1.main-name {
    font-size: 2.8em;
    text-shadow: 1.5px 2px rgb(133, 132, 132);
}

#top blockquote {
    width: 400px;
    margin: 50px auto;
    color: #473723;
}

#top blockquote q {
    font-size: larger;
}

.top-btns {
    margin: 20px auto;
}

a.btn {
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: transparent;
}

a.btn-green {
    color: rgba(0, 128, 0, 0.808);
    border-color: rgba(0, 128, 0, 0.808);
}

a.btn-red {
    color: rgba(204, 11, 11, 0.719);
    border-color: rgba(204, 11, 11, 0.719);
}

.container {
    padding: 10px 20px;
    width: 100%;
}

.text-center {
    text-align: center;
}

.dark-bg {
    background-color: #422f17;
    color: white;
}

article {
    flex-direction: row;
    display: flex;
}

article.card {
    margin-top: 20px;
    border: 1px solid #d4d4d4;
    box-shadow: 1px 1px 6px 1px rgb(192, 192, 192);
}

.two-third {
    display: inline-block;
    vertical-align: top;
    flex: 0.7;
}

.one-third {
    display: inline-block;
    vertical-align: top;
    flex: 0.3;
}

.half {
    display: inline-block;
    vertical-align: top;
    flex: 0.5
}

ul.basic-info li {
    list-style: none;
    padding-top: 5px;
}

ul.skills {
    list-style: none;
}

ul.skills li::before {
    content: '✓';
    font-size: 1.2em;
    color: #422f17;
}

ol.programming li {
    font-size: 1.3em;
    padding: 5px 5px;
}

#contact h2 {
    text-align: center;
    text-transform: capitalize;
}

.contact-form {
    width: 60%;
    margin: 10px auto;
    padding: 30px 20px;
    border: 1px solid #d4d4d4;
    box-shadow: 1px 1px 6px 1px rgb(206, 201, 201);
}

.contact-form .input-row {
    width: 100%;
    padding-top: 10px;
}

.contact-form .input-row p {
    font-size: 0.9em;
    color: #333;
    padding: 0px;
    margin-bottom: 3px;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=tel] {
    width: 80%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #acaaaa;
}

.contact-form input[type=submit] {
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #222;
    padding: 10px 40px;
    background-color: transparent;
    padding: 10px 50px;
}

.contact-form input[type=submit]:hover {
    background-color: #222;
    color: white;
    cursor: pointer;
}

.contact-form textarea {
    resize: none;
    width: 80%;
    height: 105px;
    padding-left: 10px;
    border: 1px solid #acaaaa;
}

#other {
    display: none;
}

@media screen and (max-width: 719px) {
    nav {
        display: none;
        padding: 10px 5px;
    }

    nav a {
        display: block;
        text-align: center;
        padding: 5px 0px;
    }

    header h2 {
        font-size: 1.2em;
    }

    h1.main-name {
        font-size: 2.2em;
    }

    a.icon {
    padding: 20px 0px;
    font-size: 1.2em;
      float: right;
      display: block;
    }

    article {
        flex-direction: column;
    }

    .half, .one-third, .two-third {
        display: block;
        flex: 1;
    }

    form.contact-form {
        width: 95%;
    }
  }
  